<div class="row">
    <div class="col-xs-12">
        <img [src]="kick.imagePath" alt="{{kick.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{kick.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Kick <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Edit Kick</a></li>
            <li><a href="#">Delete Kick</a></li>
        </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{kick.description}}
    </div>
</div>